---
import HeadCommon from '../components/HeadCommon.astro';
import { Repl as ReplComponent } from '../repl/Repl';

export const prerender = true;
---

<html>
  <head>
    <HeadCommon />
    <title>Strudel REPL</title>
  </head>
  <body>
    <ReplComponent client:only="react" embedded />
  </body>
</html>
