---
// Main REPL page with client-side authentication
// Static page - authentication handled in React components
export const prerender = true;

import HeadCommon from '../components/HeadCommon.astro';
import { Repl } from '../repl/Repl';
import { I18nProvider } from '../components/I18nProvider';
---

<html lang="en" class="m-0 dark">
  <head>
    <HeadCommon />
    <title>Strudel REPL</title>
  </head>
  <body class="h-app-height bg-background m-0">
    <I18nProvider client:only="react">
      <Repl client:only="react" />
    </I18nProvider>
  </body>
</html>
