---
// Main REPL page with client-side authentication
// Static build - authentication handled in React components
import HeadCommon from '../components/HeadCommon.astro';
import { Repl as ReplComponent } from '../repl/Repl';
import { I18nProvider } from '../components/I18nProvider';

export const prerender = true;
---

<html lang="en" class="m-0 dark">
  <head>
    <HeadCommon />
    <title>Strudel REPL</title>
  </head>
  <body class="h-app-height bg-background m-0">
    <I18nProvider client:only="react">
      <ReplComponent client:only="react" />
    </I18nProvider>
  </body>
</html>
